footer{

 
    margin-top: 90px;
    background-image: linear-gradient(to bottom right,#5E4Af1 ,#BA0BF9);
}


.footer-container{

    display: flex;
    padding: 50px;
}

.left-footer-form{

    width: 50%;

   

}

.right-footer-contact{
    width: 50%;
   

}

#contact-title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
}


#from-title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
}

.form{

    margin-top: 50px;
}

.input{

    width: 70%;
    padding: 10px;
    background: transparent;
    outline: none;
    font-size: 20px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
   
}

::placeholder{

    color: white;
    font-size: 20px;
}

#send-btn{
    width: 70%;
    padding: 15px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 30px;
}
.contact-desc{

    margin-top: 50px;
}

#email-info{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}
#number-info{

    text-transform: uppercase;
    font-size: 20px;

}
.social-icon{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}