
.header-container {
    height: 100vh;
    
    background-image: url('./image/banner/banner-bg\ .png');
    background-repeat: no-repeat;
    background-position: center;
}

.nav {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: var(--font-primary-color); /* Corrected to use the defined custom property */
    
    font-size: 36px;
}
#right-menu-icon-id{

    width: 175px;
    text-align: right;
}

.banner-title h1{
    font-size: 152px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 5px;
    margin: 40px 0;
    
}

.banner-desc{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 5px;
    margin: 40px 0;
}


.banner-profile-container{


    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--font-primary-color);
    border-bottom: 1px solid var(--font-primary-color );
}



.banner-profile-desc{

     display: flex;
     flex-direction:  row;
     /* justify-content: end; */
     
     font-size: 40px;
}

.work-icon-container{
width: 500px;
    display: flex;
    align-items: center;
    gap: 14x;
    padding: 40px 0px;
}
.work-icon-container h1{

width: max-content;
}
.work-icon-container svg{

    width: 50px;
}
.check-icon{
    width: 60px;
    height: 60px;
}


.banner-image-container{
    background-color: var(--font-primary-color);
    width: fit-content;




}

#banner-image{
height: 300px;




    
}
.complite-project-card h1{

font-size: 152px;
text-transform: uppercase;
}
.complite-project-card h2{

    font-size: 40px;
    text-transform: uppercase;
    }


    .complite-project-container{
        display: flex;
        
        justify-content: space-between;
    }


@media only screen and (min-width:200px) and (max-width:576px)
{

    .container{

        padding:0px 5px;
        
    }
   .nav{
    font-size: 16px
  .complite-project-container{
    
    flex-direction: column;
   
   
    

   } 

   .banner-profile-container{

    display: flex;
    flex-direction: column;
   }
   .banner-image-container{

    width: 100%;
   }
   #banner-image{
    width: 100%;


   }

.banner-title{
    font-size: 25px ;
}
   }
}